<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory>
        <mapping class="entity.Departement"/>
        <mapping class="entity.Diary"/>
        <mapping class="entity.Grade"/>
        <mapping class="entity.Person"/>
        <mapping class="entity.SchoolClass"/>
        <mapping class="entity.Student"/>
        <mapping class="entity.Subject"/>
        <mapping class="entity.Teacher"/>
        <mapping class="entity.DiarySubject"/>
    </session-factory>

</hibernate-configuration>